Repository Sekanor/OptimodLyon, pull requests merged in 2021-03, with the labels that each got.

#4 Ajout d'un .gitignore pour IntelliJ
  .gitignore
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: infra

#1 Chargement des courses
  .gitignore
  OptimodLyon.iml
  rsc/test/io/delivery-files/delivery-good-formed1.xml
  rsc/test/io/delivery-files/delivery-good-formed2.xml
  rsc/test/io/delivery-files/delivery1.xml
  rsc/test/io/delivery-files/delivery2.xml
  rsc/test/io/delivery-files/delivery3.xml
  rsc/test/io/delivery-files/delivery4.xml
  rsc/test/io/delivery-files/delivery5.xml
  rsc/test/io/delivery-files/delivery6.xml
  rsc/test/io/delivery-files/delivery7.xml
  rsc/test/io/delivery-files/map.xml
  rsc/test/io/mapfiles/map.xml
  rsc/test/io/mapfiles/map1.xml
  rsc/test/io/mapfiles/map2.xml
  rsc/test/io/mapfiles/map3.xml
  rsc/test/io/mapfiles/map4.xml
  rsc/test/io/mapfiles/map5.xml
  rsc/test/io/mapfiles/map6.xml
  rsc/test/io/mapfiles/map7.xml
  rsc/test/io/mapfiles/map8.xml
  rsc/test/io/mapfiles/map9.xml
  src/optimodLyon/io/MalformedXMLException.java
  src/optimodLyon/io/XMLLoader.java
  src/optimodLyon/model/CityMap.java
  src/optimodLyon/model/DeliveryPlan.java
  src/optimodLyon/model/Intersection.java
  src/optimodLyon/model/Request.java
  src/optimodLyon/model/Segment.java
  src/optimodLyon/model/test.java
  src/optimodLyon/test/io/XMLLoaderCityMapTU.java
  src/optimodLyon/test/io/XMLLoaderDeliveryPlanTU.java
Labels: feature, modele

#8 Tests on cityMap + adding methods on CityMap and Intersection
  OptimodLyon.iml
  rsc/test/io/mapfiles/map10.xml
  src/optimodLyon/io/XMLLoader.java
  src/optimodLyon/model/CityMap.java
  src/optimodLyon/model/Intersection.java
  src/optimodLyon/test/io/XMLLoaderCityMapTU.java
  src/optimodLyon/test/io/XMLLoaderDeliveryPlanTU.java
Labels: feature, modele

#3 Création du formulaire IHM
  rsc/image/delivery-localisation.png
  rsc/image/pickup-localisation.png
  src/optimodLyon/IHM/MapView.java
  src/optimodLyon/IHM/NavigationView.java
  src/optimodLyon/IHM/OptimodFrame.form
  src/optimodLyon/IHM/OptimodFrame.java
  src/optimodLyon/IHM/OptimodFrameState.java
  src/optimodLyon/OptimodLyonApp.java
  src/optimodLyon/controller/Controller.java
  src/optimodLyon/controller/ihm/NavigationController.java
  src/optimodLyon/model/CityMap.java
  src/optimodLyon/model/Intersection.java
  src/optimodLyon/test/io/XMLLoaderCityMapTU.java
Labels: feature, ihm

#11 Suppression de la pop-up de chargement de map et de deliveryplan quan…
  src/optimodLyon/IHM/MapView.java
  src/optimodLyon/IHM/OptimodFrame.java
  src/optimodLyon/controller/Controller.java
  src/optimodLyon/controller/ihm/MapViewResizeController.java
  src/optimodLyon/controller/ihm/NavigationController.java
  src/optimodLyon/model/CityMap.java
Labels: bug, ihm

#13 Circuit modifier : Add, delete request on circuit and update localization of a waypoint
  OptimodLyon.iml
  src/external/circuitPlanner/AbstractCircuitPlanner.java
  src/external/circuitPlanner/CircuitPlanner1.java
  src/optimodLyon/model/DeliveryPlan.java
  src/optimodLyon/model/Waypoint.java
  src/optimodLyon/model/circuit/Circuit.java
  src/optimodLyon/model/circuit/CircuitManager.java
  src/optimodLyon/model/circuit/Edge.java
  src/optimodLyon/model/circuit/Graph.java
Labels: feature, modele

#10 Modifications du modèle afin de préparer la création des algorithmes
  OptimodLyon.iml
  src/external/circuitPlanner/AbstractCircuitPlanner.java
  src/external/circuitPlanner/AlgorithmeAleatoire.java
  src/external/circuitPlanner/AlgorithmeOptimisationLocale.java
  src/external/circuitPlanner/CircuitPlanner1.java
  src/external/circuitPlanner/test.java
  src/optimodLyon/IHM/MapView.java
  src/optimodLyon/IHM/NavigationView.java
  src/optimodLyon/IHM/OptimodFrame.java
  src/optimodLyon/MainTest.java
  src/optimodLyon/OptimodLyonApp.java
  src/optimodLyon/controller/Controller.java
  src/optimodLyon/controller/ihm/NavigationController.java
  src/optimodLyon/controller/test.java
  src/optimodLyon/model/CityMap.java
  src/optimodLyon/model/DeliveryPlan.java
  src/optimodLyon/model/Intersection.java
  src/optimodLyon/model/Node.java
  src/optimodLyon/model/Waypoint.java
  src/optimodLyon/model/circuit/Circuit.java
  src/optimodLyon/model/circuit/CircuitManager.java
  src/optimodLyon/model/circuit/Edge.java
  src/optimodLyon/model/circuit/Graph.java
  src/optimodLyon/test/model/CityMapTU.java
Labels: algo, feature

#12 Changement des X et Y en longitude et latitude
  src/optimodLyon/model/CityMap.java
  src/optimodLyon/model/Intersection.java
  src/optimodLyon/test/io/XMLLoaderCityMapTU.java
Labels: bug, modele

#14 Ajout de la légende dans l'IHM
  rsc/image/warehouse.png
  src/optimodLyon/IHM/LegendView.java
Labels: feature, ihm

#15 Suppression du fichier Circuit.java
  src/optimodLyon/model/circuit/Circuit.java
Labels: bug, modele

#17 Feature/erreur pop up
  src/optimodLyon/IHM/OptimodFrame.java
  src/optimodLyon/controller/ihm/NavigationController.java
  src/optimodLyon/io/UnsupportedFileException.java
  src/optimodLyon/io/XMLLoader.java
Labels: feature, ihm

#19 Feature/add pickup and delivery points
  OptimodLyon.iml
  src/optimodLyon/IHM/LeftMenuView.java
  src/optimodLyon/IHM/MapView.java
  src/optimodLyon/IHM/OptimodFrame.form
  src/optimodLyon/IHM/OptimodFrame.java
  src/optimodLyon/IHM/PickupDeliveryDialogView.java
  src/optimodLyon/ListUtils.java
  src/optimodLyon/controller/Controller.java
  src/optimodLyon/controller/ihm/DialogController.java
  src/optimodLyon/controller/ihm/LeftMenuController.java
  src/optimodLyon/model/CityMap.java
  src/optimodLyon/model/PickupAndDeliveryForm.java
  src/optimodLyon/model/Request.java
  src/optimodLyon/model/Segment.java
Labels: feature, ihm

#16 Premier algorithme fonctionnel
  OptimodLyon.iml
  rsc/test/io/delivery-files/delivery-good-formed3.xml
  rsc/test/io/delivery-files/delivery-good-formed4.xml
  src/external/IO/XMLLoader.java
  src/external/circuitPlanner/AbstractCircuitPlanner.java
  src/external/circuitPlanner/Algorithme2Opt.java
  src/external/circuitPlanner/AlgorithmeAleatoire.java
  src/external/circuitPlanner/AlgorithmeLointaineInsertion.java
  src/external/circuitPlanner/AlgorithmeMeilleureInsertion.java
  src/external/circuitPlanner/AlgorithmeOptimisationLocale.java
  src/external/circuitPlanner/AlgorithmePlusProcheVoisin.java
  src/external/circuitPlanner/AlgorithmeVoyageurCommerce.java
  src/external/circuitPlanner/CircuitPlanner1.java
  src/external/circuitPlanner/PathFinder.java
  src/external/circuitPlanner/PathNode.java
  src/optimodLyon/IHM/MapView.java
  src/optimodLyon/IHM/NavigationView.java
  src/optimodLyon/IHM/OptimodFrame.java
  src/optimodLyon/MainTest.java
  src/optimodLyon/controller/Controller.java
  src/optimodLyon/io/XMLLoader.java
  src/optimodLyon/model/Delivery.java
  src/optimodLyon/model/DeliveryPlan.java
  src/optimodLyon/model/Intersection.java
  src/optimodLyon/model/Node.java
  src/optimodLyon/model/Pickup.java
  src/optimodLyon/model/Request.java
  src/optimodLyon/model/Segment.java
  src/optimodLyon/model/Warehouse.java
  src/optimodLyon/model/circuit/CircuitManager.java
  src/optimodLyon/model/circuit/Edge.java
  src/optimodLyon/model/circuit/Graph.java
  src/optimodLyon/test/model/CircuitManagerTU.java
Labels: algo, feature
